@{
    ViewBag.Title = "Home Page";
}



<div class="row">



    <div class="col-sm-12 col-md-12 col-xl-12">
        @if (Session["msj"] != null)
        {
            var myHtmlString = new HtmlString(Session["msj"].ToString());
            @myHtmlString;
            Session["msj"] = null;
        }
        <h1>Clientes</h1>
        @Html.ActionLink("Agregar", "AddCliente", "Home", htmlAttributes: new { @class = "btn btn-info text-white m-1" })
        @using (Html.BeginForm("getDataFilter", "Home", FormMethod.Post, htmlAttributes: new { @class = "form-inline" }))
        {
            <div class="form-group mx-sm-3 mb-2">
                @Html.TextBox("valor", null, htmlAttributes: new { @class = "form-control", @placeholder = "Filtrar" })

            </div>
            <button type="submit" class="btn btn-primary mb-2">Filtrar</button>
        }


        <table class="table table-hover table-dark">
            <caption>Lista de clientes</caption>
            <thead>
                <tr>
                    <th scope="col">CodCLinete</th>
                    <th scope="col">nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Dui</th>
                    <th scope="col">direccion</th>
                    <th scope="col">nit</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.clientes != null)
                {
                    foreach (var item in ViewBag.clientes)
                    {
                        <tr>
                            <th scope="row">@item.cod_cliente</th>
                            <td>@item.nombres</td>
                            <td>@item.apellidos</td>
                            <td>@item.dui</td>
                            <td>@item.direccion</td>
                            <td>@item.nit</td>
                            <td>
                                @Html.ActionLink("Modificar", "EditCliente", "Home", new { id = item.cod_cliente }, htmlAttributes: new { @class = "btn btn-warning text-white" })
                                @if (String.Compare(Session["nivel"].ToString(), "administrador", comparisonType: StringComparison.OrdinalIgnoreCase) == 0)
                                {

                                    @Html.ActionLink("Eliminar", "DeleteCliente", "Home", new { id = item.cod_cliente }, htmlAttributes: new { @class = "btn btn-danger text-white", onclick = String.Format("return confirm('Desea eliminar al cliente con id: {0}')", item.cod_cliente) });

                                }
                            </td>
                        </tr>

                    }

                }
                else
                {
                    <tr>
                        <td colspan="7">
                            <div class="alert alert-info" role="alert">
                                No hay resultados
                            </div>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>

</div>